<h1>Edit a Service Request</h1>

<form action="/service_requests/<%=@service_request.id%>" method="POST">

  <h3><em>Please edit your new service request below</em></h3>

  <label>Message:</label>
  <textarea name="message" rows="4" cols="50"> <%= @service_request.message %> </textarea>
  <br></br>
  <input type="submit" value="submit">
</form>
