<h1>Create a New Service Request</h1>

<form action="/service_requests" method="POST">

  <h3><em>Please describe your new service request below</em></h3>

  <label>Message:</label>
  <textarea name="message" rows="4" cols="50"> </textarea>

  <input type="submit" value="submit">
</form>
