<h1>Service Request Details</h1>

<p> <%= @service_request.message %> </p>
<br></br>

<a href="/service_requests/<%=@service_request.id%>/edit"> Edit </a>
<br></br>
<a href="/service_requests/<%=@service_request.id%>/delete"> Delete </a>
