<h1>Sign Up</h1>

<form action="/residents" method="POST">

  <h3><em>Please enter your information below</em></h3>

  <label>Username:</label>
  <input type="text" name="username">
  <br></br>

  <label>Password:</label>
  <input type="password" name="password">
  <br></br>

  <label>Name:</label>
  <input type="text" name="name">
  <br></br>

<!--
  <label>Building:</label>
<<<<<<< HEAD:app/views/residents/signup.erb
  <input type="text" name="building_id">
=======
  <br>
  <%Building.all.each do |building|%>
    <input type="radio" name="building" value="<%=building.id%>"> <%=building.name%> <br>
  <%end%>
>>>>>>> project-work:app/views/residents/signup.erb
  <br></br>
-->

  <label>Apartment #:</label>
  <input type="text" name="apartment_number">
  <br></br>

  <input type="submit" value="submit">
</form>
