<% if flash.has?(:message) %>
  <% errors = flash[:message]%>
  <%= "Sorry, it looks like something went wrong. Please correct the error(s) listed below:" %>
  <br>
  <% errors.each do |key, value| %>
    <%="#{key}: #{value.shift}" %>
    <br>
  <% end %>
<% end %>

<h1>Sign Up</h1>

<form action="/residents" method="POST">

  <h3><em>Please enter your information below</em></h3>

  <label>Username:</label>
  <input type="text" name="username">
  <br></br>

  <label>Password:</label>
  <input type="password" name="password">
  <br></br>

  <label>Name:</label>
  <input type="text" name="name">
  <br></br>

  <label>Building:</label>
  <br>
  <%@buildings.each do |building|%>
    <input type="radio" name="building" value="<%=building.id%>"> <%=building.name%> <br>
  <%end%>
  <br></br>

  <label>Apartment #:</label>
  <input type="text" name="apartment_number">
  <br></br>

  <input type="submit" value="submit">
</form>
