<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Apartment Building Service Request Portal</h2>

    <div class="content">
      <p>Welcome to the service request portal for your apartment building. Once you create an account, you can use this portal to send a service request to your building manager.</p>
      <p>Is your kitchen faucet leaky? Go ahead and enter a service request and your manager will address the problem for you. And just in case there are any changes to the situation, you can edit and delete your service requests as well. </p>

      <h3><a href="/residents/login">Login Page</a></h3>

      <h3><a href="/residents/new">Signup Page</a></h3>

    </div>

  </div>
</div>
